<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.androidarchitecture">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
            android:name=".App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".NavigatingActivityMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".room_dao_recyclerview.AddNoteActivity"/>
        <activity android:name=".room_dao_recyclerview.AddEditNoteActivity"/>
        <activity android:name=".room_dao_recyclerview.MainActivity"/>
        <activity android:name=".viewmodel_retro_api.MainActivityTicket"/>
        <activity android:name=".notification_channel.NotificationMainActivity"/>
        <activity android:name=".utility.CustomPopUp"/>

        <receiver android:name=".broadcast_reciever.ExampleBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".notification_channel.NotificationReciever">
        </receiver>

    </application>

</manifest>